[submodule "home-etu-nixpkgs/home-manager"]
	path = home-etu-nixpkgs/home-manager
	url = https://github.com/rycee/home-manager
[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/NixOS/nixpkgs-channels.git
